* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    min-height: 100%;
}

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
}

body {
    background: #f5f5f5;
}

.top-menu {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 20px;
    overflow: hidden;
}

.top-menu button {
    margin: 0 10px;
    display: inline-block;
    width: 120px;
    text-align: center;
}

.container {
    padding-top: 63px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.iconfont {
    font-size: inherit;
}

.icon-trash {
    color: #dd514c;
}

.order-table {
    border-collapse: collapse;
    text-align: left;
    border: 1px solid #000;
    width: 100%;
}
.order-table td,
.order-table th {
    border: 1px solid #000;
}

.js-hide {
    display: none!important;
}